.header {
  &__badge {
    top: 7px;
    right: 0px;
  }
}

.menu {
  &__item {
    width: 65px;
    &:hover {
      color: $secondary;
      border-bottom: 1px $secondary solid;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper {
  &__card {
    overflow: hidden;
    &__img {
      height: 350px;
      object-fit: cover;
    }
  }
}

.footer {
  &__banner {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true);
    @include bg-img-cover;
    height: 400px;
  }
}
