.banner {
  background-image: url(https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1493&q=80);
  @include bg-img-cover;
  height: 480px;
}

.popular {
  &__img {
    height: 100%;
    object-fit: cover;
    @include mobile {
      height: auto;
    }
  }
  &__content {
    &__text {
      font-size: $h5-font-size;
    }
  }
  &__date {
    width: 1rem;
  }
}

.live {
  &__box {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true);
    @include bg-img-cover;
    height: 482px;
    @include mobile {
      height: 464px;
    }
    &__card {
      z-index: 10;
      overflow: hidden;
    }
  }
}
